div {
  text-align: center;
  color: darkblue;
  font-weight: bold;
  }
  
  h2 {
     text-align: center;
     color: darkblue;
  }
  
  h3 {
     text-align: center;
     color: darkblue;
  }
        #scatterplot {
  
           width: 600px;
           height: 500px;
           border: 25px solid rgb(16, 13, 158);
           border-radius: 30px 50px 30px;
           padding: 25px;
           margin: 25px;
           float: left;
  
        }
  
        #Histogram {
  
           width: 600px;
           height: 500px;
           border: 25px solid rgb(16, 13, 158);
           border-radius: 30px 50px 30px;
           padding: 25px;
           margin: 25px;
           float: right;
        }
  
        #Histogram2 {
  
           width: 600px;
           height: 500px;
           border: 25px solid rgb(16, 13, 158);
           border-radius: 30px 50px 30px;
           padding: 25px;
           margin: 25px;
           float: left;
        }
  
        #piechart {
  
           width: 600px;
           height: 500px;
           border: 25px solid rgb(16, 13, 158);
           border-radius: 30px 50px 30px;
           padding: 25px;
           margin: 25px;
           float: right;
        }